# Note: 
#     1. one directory or file one line
#     2. start with "#" will be ignore
#        empty line will be ignore
#        "/" will be ignore
#        directory must be end with "/", such as:  /tmp/foodir/, otherwise is as file
#            
#     3.  the item is absolute path in filesystem
#            
#
#
#Sample:
#
#sys/types.h
#bits/
#libacl.h
